<ul>
<%= if @current_voter do %>
  <li><%= @current_voter.email %></li>
  <li><%= link "Settings", to: Routes.voter_settings_path(@conn, :edit) %></li>
  <li><%= link "Log out", to: Routes.voter_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= link "Register", to: Routes.voter_registration_path(@conn, :new) %></li>
  <li><%= link "Log in", to: Routes.voter_session_path(@conn, :new) %></li>
<% end %>
</ul>
